$white: #ffffff;

$black: #000000;

$white-light: #F7F7F7;
$white-light-2: #F0F2F7;
$white-gray: #EAEAEA;

$dark: #323232;
$dark-2: #222328;

$light-gray: #C1C1C1;
$light-gray-2: #D8D8D8;
$light-gray-3: #C3C6CA;

$orange: #FB6900;

$blue-gray: #B8BFD3;
$blue-gray-2: #DEE2E6;

$gray: #979797;
$gray-2: #B5B5B5;
$gray-3: #EBEBEB;

$red: #F05252;
